// BASE COLORS
$color-black: #000;
$color-neutral: #ffffff;
$color-neutral-200: #f8f9fc;
$color-neutral-300: #edf1f7;
$color-neutral-400: #e3e8f2;
$color-neutral-500: #c5cef4;
$color-neutral-600: #8f9bb3;
$color-neutral-700: #2e3a59;
$color-neutral-800: #222b45;
$color-neutral-900: #192038;
$color-neutral-1000: #151a30;
$color-neutral-1100: #101426;
$color-primary-default: #00d68f;
$color-primary-transparent: #00d68f7a;
$color-primary-dark: #004a45;
$color-action-default: #ff3d71;
$color-action-dark: #db2c66;

$color-start: #43e97b;
$color-end: #39f9d6;
$color-end-dark: #00d68f;
$color-green: #67af32;
$color-purple: #924990;
